<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/weather" Match="NavLinkMatch.Prefix">Weather</MudNavLink>
    <MudNavLink Href="/samplelongpage/L" Match="NavLinkMatch.Prefix">Sample Long Page</MudNavLink>
    <MudNavLink Href="/companypage/L" Match="NavLinkMatch.Prefix">Company Page</MudNavLink>
    <AuthorizeView>
        <MudNavGroup Title="Settings" Expanded="true">
            <MudNavLink Href="/user-claims" Match="NavLinkMatch.Prefix">User Claims</MudNavLink>
            <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
            <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
        </MudNavGroup>
    </AuthorizeView>

    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>

    <h3 class="text-muted"> StartupNavMenu: Rendered At: @(OperatingSystem.IsBrowser() ? "Wasm" : "Server")</h3>
</MudNavMenu>


@code {

}
